<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photo ? @cocktail.photo.path : 'ckncf1xexhkkwx9k90tr' %>');">
  <div class="banner-content">
    <p> your <strong><%= @cocktail.name %></strong> needs </p>
    <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs padding-top">
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to "delete", dose_path(dose), method: :delete %></li>
    <% end %>
  </ul>
    <a class="btn btn-info btn-small">Order!</a>
    <%= link_to "Delete cocktail", cocktail_path(@cocktail), class: "btn btn-danger btn-small", method: :delete %>
  </div>
</div>
<%= render 'dose' %>
<%#= cl_image_tag("ckncf1xexhkkwx9k90tr") %>

