  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/300');">
        <div class="card-category"><%= @cocktail.name %></div>
        <div class="card-description">
        <p> The <%= @cocktail.name %> needs </p>
        <% @cocktail.doses.each do |dose| %>
          <p><%= dose.description %> <%= dose.ingredient.name %>
          <%= link_to "delete dose", dose_path(dose), method: :delete %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>

<%= render 'dose' %>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= link_to "main list", cocktails_path, class: "btn btn-success" %>
  </div>
</div>
